@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

html {
	font-family: Playfair Display, sans-serif;
	font-size: 12pt;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

header {
	height: 20%;
}

main {
	height: 60%;
	border: 1px solid grey;
	padding: 4rem;
	overflow: scroll;
}

footer {
	height: 20%;
	border: 1px solid grey;
	background-color: black;
	overflow-x: scroll;
}