body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: lightskyblue;
    background-image: url(loading.gif);
    background-repeat: no-repeat;
    background-position: center;
}